<div class="flex flex-col items-center">
  @for (row of hexRows; track row;) {
    <div class="flex justify-center gap-1 -my-5">
      @for (img of row; track img.key) {
        <div class="hex-clip w-[150px] aspect-[1/1.15] object-cover bg-white overflow-visible" >
          <img
            class="hex-clip w-full aspect-[1/1.15] object-cover hover:cursor-pointer hover:animate-none"
            [ngClass]="img.animation"
            [ngSrc]="img.value"
            [width]="imgWidth"
            [height]="imgHeight"
            alt="{{img.value}}"
            priority
          />
        </div>

      }
    </div>
  }
</div>
<!--<p class="text-white my-10 animate-vertical-flip">Hello</p>-->
