/*!* Base CSS*!*/
/*!* purpose is to make the css styling to be easy*/
/* * when applying a base css to all tags or depends*/
/* * and reduces duplications on developing*/
/**!*/
/*label, input {*/
/*  @apply my-2 text-center;*/
/*}*/
/*input, button {*/
/*  @apply self-center;*/
/*  @apply w-3/4 h-14;*/
/*  @apply hover:text-xl;*/
/*}*/
/*!*!*Specific tags CSS configuration*!*!*/
/*form {*/
/*  @apply flex flex-col justify-center bg-white;*/
/*  @apply text-center text-2xl tracking-widest font-sans;*/
/*  @apply rounded-3xl border-black border-2 border-b-4 border-r-4 shadow-xl;*/
/*  @apply w-96 my-5 gap-1;*/
/*}*/
/*label {*/
/*  @apply text-blue-400;*/
/*  @apply font-bold mt-5;*/
/*}*/
/*input {*/
/*  @apply bg-gray-100;*/
/*  @apply text-blue-500 text-base;*/
/*  @apply shadow-xl rounded-2xl;*/
/*  @apply px-5 py-2;*/
/*  border: 5px outset rgba(28,110,164,0.4);*/

/*  !*@apply invalid:border-red-600;*!*/
/*}*/
/*button {*/
/*  @apply bg-blue-400;*/
/*  @apply text-white font-extrabold text-lg;*/
/*  @apply my-5 py-1;*/
/*  @apply hover:text-black hover:bg-white hover:delay-100;*/
/*  border: 5px outset rgba(28,110,164,0.4);*/
/*  border-radius: 40px 10px 40px 20px;*/
/*}*/
/* From Uiverse.io by zanina-yassine */

.modal {
  width: 450px;
  background: linear-gradient(180deg, #00ff00 0%, #002706 30.21%);
  box-shadow: 0 187px 75px rgba(0, 0, 0, 0.01), 0 105px 63px rgba(0, 0, 0, 0.05), 0 47px 47px rgba(0, 0, 0, 0.09), 0 12px 26px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  @apply text-white;
}

.banner {
  width: 100%;
  height: 30px;
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #2B2B2F;
  margin-bottom: 15px;
  @apply text-white tracking-widest;
}

.description {
  max-width: 80%;
  margin: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  @apply tracking-wider font-extralight;
}

.tab-container {
  @apply flex flex-row items-start relative p-1;
  @apply mx-10 mt-3;
  @apply rounded-xl border-2 border-solid border-white;
  background-color: #000000;
}

.indicator {
  content: "";
  @apply w-1/2 h-7 absolute top-1 left-1 right-1 z-10 rounded-lg;
  @apply border-2 border-solid border-white;
  @apply transition-all ease-out duration-500;
  @apply hover:bg-black;
  background: #00ff00;
}

.tab {
  @apply w-1/2 h-7 relative z-40 bg-transparent;
  @apply flex-none flex-grow border-0 outline-0 items-stretch;
  @apply cursor-pointer font-bold;
  color: #002706;
}
.tab--1 {
  @apply text-white text-center;
  /*color: #002706;*/
  /*@apply hover:m*/
}
.tab--2 {
  @apply text-white text-center hover:text-black;
  @apply transition-all ease-out duration-300;
}

.tab--1:hover ~ .indicator {
  left: 4px;
}

.tab--2:hover ~ .indicator {
  left: calc(50% - 2px);
}

.modal--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ebebec;
}

.price {
  position: relative;
  font-size: 32px;
  color: #2B2B2F;
  font-weight: 900;
}

.price sup {
  font-size: 13px;
}

.price sub {
  width: fit-content;
  position: absolute;
  font-size: 11px;
  color: #5F5D6B;
  bottom: 5px;
  display: inline-block;
}

.upgrade-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 40px;
  background: #0bdd12;
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 7px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.upgrade-btn:hover {
  background-color: #07b90d;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* CSS */
.button-54 {
  @apply tracking-widest text-base decoration-0;
  @apply cursor-pointer;
  @apply relative;
  font-family: "Open Sans", sans-serif;
  /*text-decoration: none;*/
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
